# helm install kata-deploy oci://ghcr.io/kata-containers/kata-deploy-charts/kata-deploy --namespace kube-system -f kata-containers.yaml
# helm upgrade kata-deploy oci://ghcr.io/kata-containers/kata-deploy-charts/kata-deploy --namespace kube-system -f values.yaml

image:
  tag: "3.24.0"

k8sDistribution: "k3s"

shims:
  clh:
    enabled: false
  cloud-hypervisor:
    enabled: false
  dragonball:
    enabled: false
  fc:
    enabled: false
  qemu:
    enabled: false
  qemu-cca:
    enabled: false
  qemu-coco-dev:
    enabled: false
  qemu-coco-dev-runtime-rs:
    enabled: false
  qemu-nvidia-gpu:
    enabled: false
  qemu-nvidia-gpu-snp:
    enabled: false
  qemu-nvidia-gpu-tdx:
    enabled: false
  qemu-runtime-rs:
    enabled: true
  qemu-se:
    enabled: false
  qemu-se-runtime-rs:
    enabled: false
  qemu-snp:
    enabled: false
  qemu-tdx:
    enabled: false
