apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: cicd
  name: pnpm-cache-pvc
  annotations:
    argocd.argoproj.io/ignore-healthcheck: "true"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: cicd
  name: next-cache-pvc
  annotations:
    argocd.argoproj.io/ignore-healthcheck: "true"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
