apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: cicd
  name: pnpm-cache-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi

---

apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: cicd
  name: next-cache-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
