apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - namespace.yaml
  - client-build-cache-pvc.yaml

helmCharts:
  - name: jenkins
    releaseName: jenkins
    namespace: cicd
    repo: https://charts.jenkins.io
    version: "5.8.114"
    valuesFile: values/jenkins.yaml
  
  - name: prometheus
    releaseName: prometheus
    namespace: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    version: "28.0.0"
    valuesFile: values/prometheus.yaml

  - name: kube-state-metrics
    releaseName: kube-state-metrics
    namespace: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    version: "7.0.0"
    valuesFile: values/kube-state-metrics.yaml

  - name: prometheus-node-exporter
    releaseName: node-exporter
    namespace: monitoring
    repo: https://prometheus-community.github.io/helm-charts
    version: "4.49.2"
    valuesFile: values/node-exporter.yaml
  
  - name: grafana
    releaseName: grafana
    namespace: monitoring
    repo: https://grafana.github.io/helm-charts
    version: "10.4.3"
    valuesFile: values/grafana.yaml

  # - name: argo-cd
  #   releaseName: argocd
  #   namespace: cicd
  #   repo: https://argoproj.github.io/argo-helm
  #   version: "9.1.6"
  #   valuesFile: values/argocd.yaml
