apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - namespace.yaml
  - client-build-cache-pvc.yaml

helmCharts:
  - name: jenkins
    releaseName: jenkins
    namespace: cicd
    repo: https://charts.jenkins.io
    version: "5.8.114"
    valuesFile: values/jenkins.yaml

  # - name: argo-cd
  #   releaseName: argocd
  #   namespace: cicd
  #   repo: https://argoproj.github.io/argo-helm
  #   version: "9.1.6"
  #   valuesFile: values/argocd.yaml
